html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

td {
    vertical-align: middle;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
    color: var(--bs-secondary-color);
    text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
    text-align: start;
}

.page-header {
    display: flex;
    align-items: center;
}

.form-search {
    width: 40%;
    margin-left: auto;
    padding: 4px 0;
}

.form-row {
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding: 4px 0;
}

.form-label {
    white-space: nowrap;
}

.text-align-right {
    text-align: right;
}

.status-new,
.status-paid,
.status-processing,
.status-shipped,
.status-completed,
.status-cancelled
{
    width: 140px;
    border-radius: 6px;
    padding: 2px 0;
    text-align: center;
    background-color: #d5d5d5;
}

.status-paid,
.status-processing,
.status-shipped
{
    border: 2px dashed #37f342;
}

.status-completed {
    background-color: #8ff095;
}

.status-cancelled {
    background-color: #f55555;
}

.sub-table {
    th, td {
        border: 1px solid black; /* Sets a 1px solid black border on all table elements */
    }
}